
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "tailwindcss";

*{
  font-family: Saira, sans-serif;
}

@theme{
  --color-dark-100:#1a1a1a;
  --color-dark-200:#1f1f1f;
  --color-dark-300:#2d2d2d;
  --color-dark-400:#3d3d3d;
  --color-purple:#8B5CF6;
  --color-pink:#EC4899;
  --color-blue:#3B82F6;
}

/* index.css */

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #8B5CF6;
  padding-right: 0.3em;
  width: 0;

  animation:
    typing 3s steps(19, end) forwards,
    blink-caret 0.75s step-end 4;
}

@keyframes typing {
  from { width: 0 }
  to   { width: 19ch }
}

@keyframes blink-caret {
  50% { border-color: transparent }
}



